<% include partials/_header %>

<div class="container">

    <form action="/employee/add" method="POST" >
        <div class="form-group"></div>
        <label>Emp ID:</label>
        <input name="EMP_ID" type="text" class="form-control">
        <label>Emp Name:</label>
        <input name="EMP_NAME" type="text" class="form-control">

        <button type="submit"> Employee</button>
    </div>
    </form>


</div>


<% include partials/_footer %>
