<% include partials/_header %>

<div class="container">
    <h4
        style="text-align: center; background-color:#f2dede ; color: #bb6a68; padding-left: -200px; border: 1px solid #bb6a68; border-radius: 5px; padding: 5px 10px;">
        QUANTITY CANNOT BE NEGATIVE</h4><br><br>
    <button class="btn btn-primary btn-err-pm" style="margin-left: 48%; color: #ffffff;"><a href="/requirement"
            style="color: #fff;">ENTER
            QUANTITY
            AGAIN ?</a></button>
</div>

<% include partials/_footer %>