<% include partials/_header %>

<div class="container">
    <h4 style="text-align: center; background-color:#f2dede ; color: #bb6a68; padding-left: -200px; border: 1px solid
            #bb6a68; border-radius: 5px; padding: 5px 10px;">
        MATERIAL ALREADY EXISTS !</h4><br><br>
    <div id="block-pm">
        <button class="btn btn-primary btn-err-pm" style=" color: #ffffff;">
            <a href="/stock" style="color: #fff;">UPDATE STOCK ? </a>
        </button>
        <button class="btn btn-primary btn-err-pm" style=" color: #ffffff;">
            <a href="/material" style="color: #fff;">ADD ANOTHER MATERIAL
            </a>
        </button>
    </div>
</div>
<% include partials/_footer %>