<% include partials/_header %>


<div class="first-section">
    <div class="home-image-pm">
        <div class="text">
            <h1>A construction site material management system.</h1> <br> <br>
            <p>
                Infusing Technology in
                Construction Material Supply Chain.
            </p>
            <p>
                Get the Best Pricing for all your building material requirement.
            </p>
            <button><a href="./login.ejs">Log In</a></button>
        </div>
    </div>
</div>





<% include partials/_footer %>