<% include partials/_headerhome %>

<div class="first-section">
    <div class="home-image-pm">
        <div class="text">
            <h1>A construction site material management system.</h1> <br> <br>
            <p>
                Infusing Technology in
                Construction Material Supply Chain.
            </p>
            <p>
                All your management of materials, at one place !
            </p>
            <div class="buttons">
                <button><a href="/login">Log In</a></button>
                <button><a href="/signup">Sign Up</a></button>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>