<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <h1>Construction Materials</h1>
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contact Details</a></li>
                <li><a href="#">Material</a></li>
                <li><a href="#">Available Stock</a></li>
                <li><a href="#">New Order</a></li>
            </ul>
            <div class="bars">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>
    <section id="first-section">
        <div class="first-section">
            <div class="home-image-pm">
                <div class="text">
                    <h1>A construction site material management system.</h1> <br> <br>
                    <p>
                        Infusing Technology in
                        Construction Material Supply Chain.
                    </p>
                    <p>
                        Get the Best Pricing for all your building material requirement.
                    </p>
                    <button><a href="#">Log In</a></button> 
                </div>
            </div>
        </div>
    </section>

    
    <script src="app.js"></script>
</body>
</html>
